<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doctruyen_iread">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/gamee_hayyy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gamee_hayyy_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocTruyeniRead"
        tools:targetApi="31">
        <activity
            android:name=".FragmentThem.QuanLyTaiKhoanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FragmentTrangChu.EditChapterContentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FragmentTrangChu.EditChapterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FragmentTrangChu.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentThem.DuyetTruyenActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FragmentTrangChu.ReadChapterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FragmentTrangChu.AddChapterActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentTrangChu.EditStoryActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentThem.ThongKe"
            android:exported="false" />
        <activity
            android:name=".FragmentThem.DoiMatKhau"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ManageAccount.SignUpOneActivity"
            android:exported="false" />
        <activity
            android:name=".ManageAccount.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ManageAccount.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentTrangChu.AddStoryActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentTrangChu.StoryDetailActivity"
            android:exported="false" />
    </application>

</manifest>